# App
streamlit

# Documentos
python-dotenv
python-docx
pywin32;sys_platform == 'win32'

# LLM (LangChain)
langchain-core
langchain-openai
langchain-anthropic

# Embeddings e vetores
chromadb
openai
voyageai
distro

# Validação
pydantic

redlines
